<div class="location-data">
    <div class="banner">
        <div id="speed">Speed: 22 m/s </div>
        <div id="direction">Direction: NW </div>
        <div id="latitude">Lat: 1651561</div>
        <div id="longitude">Long: 561651651</div>
        <div id="last-updated">Last Updated: 22/03/2025 25:26</div>
    </div>
    <div class="banner-box">
        <div id="speed">Speed: 22 m/s </div>
        <div id="direction">Direction: NW </div>
    </div>
    <div class="banner-box">
        <div id="latitude">Lat: 1651561</div>
        <div id="longitude">Long: 561651651</div>
        <div id="last-updated">Last Updated: 22/03/2025 25:26</div>
    </div>
    
</div>
