.location-data {
    font-size:smaller;
    background: white;
    padding: 3px;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    

}
.banner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2px 0;
}
.banner div {
    flex: 1;
    text-align: center;
}
.banner-box {
    display: none;
}
@media (max-width: 600px) {
    .banner {
        display: none;
    }
    .banner-box {
        display: block;
        top: 2px;
        right: 2px;
        padding: 2px;
        border-radius: 5px;
    }
    .banner-box div {
        margin-bottom: 5px;
    }
}