.map-container {
    height: 86vh;
    width: 100%
}

.location-data {
    position: absolute;
    font-size:smaller;
    background: white;
    right: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    z-index: 999;
    width: 80%;
}

.banner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3px 0;
    
}
.banner div {
    flex: 1;
    text-align: center;
    
}
.banner-box {
    display: none;
}

@media (max-width: 600px) {
    .banner {
        display: none;
        
    }
    .banner-box {
        display: block;
        top: 10px;
        right: 10px;
        padding: 10px;
        border-radius: 5px;
    }
    .banner-box div {
        margin-bottom: 5px;
        
    }
}

