<!-- <app-google-layer></app-google-layer> -->
 
<!-- <div class="location-data" *ngIf="currentPosition">
    <div class="banner">
        <div id="speed">Speed: {{ speed }} m/s </div>
        <div id="direction">Direction: {{ heading }}°</div>
        <div id="latitude">Lat: {{currentPosition.coords.latitude}}</div>
        <div id="longitude">Long: {{currentPosition.coords.longitude}}</div>
        <div id="last-updated">Last Updated: {{currentPosition.timestamp | date : 'dd/MM/YY HH:mm:ss'}}</div>
    </div>
    <div class="banner-box">
        <div id="speed-box">Speed: {{ speed }} m/s</div>
        <div id="direction-box">Direction: {{ heading }}°</div>
        <div id="latitude-box">Lat: {{currentPosition.coords.latitude}}</div>
        <div id="longitude-box">Long: {{currentPosition.coords.longitude}}</div>
        <div id="last-updated-box">Last Updated: {{currentPosition.timestamp | date : 'dd/MM/YY HH:mm:ss'}}</div>
    </div>
    
</div> -->
<div class="location-data" *ngIf="currentPosition">
<!-- <button mat-raised-button color="primary" (click)="onAddRope(currentPosition)">Get Position</button> -->
</div>
<div #mapContainer class="map-container"></div>
<!-- <button id="custom-button">Custom Button</button> -->


